<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla.html::head">
  <meta charset="UTF-8">
  <title th:text="${titulo}">Carrito de Compras</title>

  <nav th:replace="/plantilla.html::nav"></nav>
</head>
<body>
<div class="container">
  <form method="post" th:action="'/procesar'">
    <div class="row mt-5">
      <div class="col-12">
        <h1 align="center">Carrito de Compras</h1>
      </div>

      <div class="col-12 mt-5">
        <div class="card">
          <h5 class="card-header text-white bg-dark">Datos del Cliente</h5>
          <div class="card-body">
            <label for="nombre">Nombre del Cliente</label>
            <input class="form-control" id="nombre" name="nombre" type="text" th:disabled="${productos.size()} <= 0" required>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <table class="table-border table">
          <thead class="table-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio(RD$)</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total(RD$)</th>
            <th scope="col">Acci&oacuten</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="producto : ${productos}">
            <td th:text="${producto.nombre}">Nombre del producto</td>
            <td th:text="${producto.precio}+'$'">Precio del producto</td>
            <td th:text="${producto.cantidad}">Cantidad del producto</td>
            <td th:text="${producto.getTotal()}+'$'">Total</td>
            <td><a class="btn btn-danger" th:href="'carrito-eliminar/'+${producto.id}">Eliminar</a></td>
          </tr>
          </tbody>
        </table>
      </div>


      <div th:if="${productos.size()} <= 0" class="col-12 mt-4">
        <h4 style="text-align: center; font-style: italic">El carrito no tiene productos</h4>
      </div>

      <div class="col-12 mt-1">
        <h2 th:if="${productos.size()} > 0" th:text="'Total: '+${total}+'$'" align="right"></h2>
      </div>

      <div class="col-6 mt-4 mb-5" align="right">
        <button th:class="${productos.size()} > 0 ? 'btn btn-primary' : 'btn btn-primary disabled'" style="width: 13rem" type="submit">Procesar Compra</button>
      </div>

      <div class="col-6 mt-4 mb-5">
        <a th:class="${productos.size()} > 0 ? 'btn btn-danger' : 'btn btn-danger disabled'"  th:href="'/carrito-limpiar'">Limpiar Carrito de Compra</a>
      </div>
    </div>
  </form>
</div>

<div th:replace="/plantilla.html::scripts"></div>
</body>
</html>