<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla.html::head">
    <meta charset="UTF-8">
    <title th:text="${titulo}">Crear - Editar Producto</title>

    <nav th:replace="/plantilla.html::nav"></nav>
</head>

<body>

<div class="container mb-5">
    <div class="row">
        <div class="col mt-5">


            <h1 align="center" th:text="${titulo}">Crear - Editar Producto</h1>
        </div>

        <div class="col-md-12 mt-4">
            <form method="post" th:action="${action}" enctype="multipart/form-data">
                <div class="card center">
                    <h5 class="card-header" th:text="${titulo}">Crear - Editar Producto</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="nombre">Nombre del producto</label>
                                <input id="nombre" name="nombre" th:value="${producto} ? ${producto.nombre} : ''" type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="precio">Precio</label>
                                <input id="precio" name="precio" th:value="${producto} ? ${producto.precio} : ''" type="number" min="0" class="form-control" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="desc">Descripci&oacuten</label>
                                <textarea id="desc" name="desc" type="text" maxlength="250" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card center mt-3">
                    <h5 class="card-header">Im&aacutegenes</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mt-1">
                                <div class="mb-3">
                                    <input class="form-control" id="foto" name="foto" type="file" multiple th:required="${producto} ? false : true">
                                </div>
                            </div>

                            <div class="col-12 mt-2">
                                <table class="table-border table">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Acci&oacuten</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${fotos}">
                                    <tr th:each="foto : ${fotos}">
                                        <td style="width: auto" th:text="${foto.id}"></td>
                                        <td style="width: auto" th:text="${foto.nombre}"></td>
                                        <td style="width: auto">
                                            <a class="btn btn-danger" th:href="'eliminar-foto/'+${producto.id}+'/'+${foto.id}">Eliminar</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div th:if="!${fotos}" class="col-12 mt-3">
                                    <h4 style="text-align: center; font-style: italic">No hay fotos guardadas.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row center-button2 mt-3">
                    <div class="col">
                        <button class="btn btn-primary" th:text="${boton}" type="submit"></button>
                        <a th:href="'/CRUD'" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="/plantilla.html::scripts"></div>
</body>
</html>