<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla.html::head">
    <meta charset="UTF-8">
    <title th:text="${titulo}">Crear / Editar Producto</title>

    <nav th:replace="/plantilla.html::nav"></nav>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col mt-5">


            <h1 align="center" th:text="${titulo}">Crear / Editar Producto</h1>
        </div>

        <div class="col-md-12 mt-4">
            <div class="card center">
                <h5 class="card-header" th:text="${titulo}">Crear / Editar Producto</h5>
                <div class="card-body">
                    <form method="post" th:action="${action}">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="nombre">Nombre del producto</label>
                                <input id="nombre" name="nombre" th:value="${producto} ? ${producto.nombre} : ''" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <label for="precio">Precio</label>
                                <input id="precio" name="precio" th:value="${producto} ? ${producto.precio} : ''" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row center-button">
                            <div class="col">
                                <button class="btn btn-primary" th:text="${boton}"><a th:href="'/CRUD'"></a></button>
                                <a th:href="'/CRUD'" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/plantilla.html::scripts"></div>
</body>
</html>